@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

body,
html {
  /* font-family: "DM Sans", sans-serif; */
  color: #f3f3f3;
  background-color: #121212;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@layer utilities {
  .text-gradient {
    background-image: linear-gradient(
      140deg,
      #e50b4c 0%,
      /* #3696fc 0%, */ #bd13f6 100%
    );
    background-clip: text; /* Ensure text is clipped to the gradient */
    -webkit-background-clip: text; /* For Safari */
    color: transparent; /* Make text transparent to show the gradient */
  }

  .bg-gradient {
    background-image: linear-gradient(
      140deg,
      #e50b4c 0%,
      /* #3696fc 0%, */ #bd13f6 100%
    );
  }
}

/* .dm_sans {
  font-family: var(--font-dm_sans);
}

.space_grotesk {
  font-family: var(--font-space_grotesk);
} */
