@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  /* scroll-behavior: smooth; */
}

body,
html {
  /* font-family: "DM Sans", sans-serif; */
  color: #f3f3f3;
  background-color: #121212;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@layer utilities {
  .text-gradient {
    background-image: linear-gradient(
      140deg,
      #e50b4c 0%,
      /* #3696fc 0%, */ #bd13f6 100%
    );
    background-clip: text; /* Ensure text is clipped to the gradient */
    -webkit-background-clip: text; /* For Safari */
    color: transparent; /* Make text transparent to show the gradient */
  }

  .bg-gradient {
    background-image: linear-gradient(
      140deg,
      #e50b4c 0%,
      /* #3696fc 0%, */ #bd13f6 100%
    );
  }
}

/* .dm_sans {
  font-family: var(--font-dm_sans);
}

.space_grotesk {
  font-family: var(--font-space_grotesk);
} */

.selectedTag {
  background-image: linear-gradient(145deg, #aaa 20%, #f1f1f1 80%);
}

.card {
  /* border-radius: 46px; */
  /* background: white; */
  /* box-shadow: 7px 7px 9px #242424, -7px -7px 9px #1f1f1f; */
  /* background: #121212; */
  /* background-image: linear-gradient(90deg, #1f1f1f 20%, #292929 100%); */
  /* background-image: linear-gradient(145deg, #181818 20%, #202020 80%); */
  background-image: linear-gradient(145deg, #1f1f1f 20%, #202020 80%);
  background-attachment: fixed;
  /* box-shadow: 4px 4px 16px -5px #090909; */
  box-shadow: 8px 10px 16px -5px #090909;
  /* box-shadow: 5px 5px 16px 3px #090909; */

  /* -1px -1px 20px -5px #555555; */
  /* box-shadow: 8px 8px 16px #080808, -8px -8px 16px #111111; */
}

.modal {
  background-image: linear-gradient(145deg, #1f1f1f 20%, #202020 80%);
  box-shadow: 8px 8px 16px 0px #090909;
}

.benefits {
  /* background-image: linear-gradient(0deg, #363636 0%, #4b4b4b 100%); */
  /* box-shadow: 8px 8px 16px 0px #090909; */
  /* background: #1f1f1f; */
  /* box-shadow: inset 10px 10px 29px #141414, inset -10px -10px 29px #2a2a2a; */
}

.header {
  /* box-shadow: 8px 0px 20px 0px #0e0e0e; */
}

.link-container {
  column-gap: 0;
  transition: all 150ms;
}

.link:hover .link-container {
  column-gap: 0.25rem;
}

::-moz-selection {
  color: white;
  background: #d50e97;
}

::selection {
  color: white;
  background: #d50e97;
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 1px #aaa; */
  /* border-radius: 10px; */
  background-color: #121212;
  z-index: 10;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background-image: linear-gradient(145deg, #3b3b3b 20%, #3e3e3e 80%); */
  background-color: #3e3e3e;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #2f2f2f;
  /* background-image: linear-gradient(145deg, #2d2d2d 20%, #2f2f2f 80%); */
  /* background: #d50e97; */
}

.carousell {
  transition: all 500ms cubic-bezier(0.83, 0, 0.17, 1);
}
